{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>

  <p><a href="{% url 'post_edit' post.pk %}">+ Редактировать пост</a></p>
  <p><a href="{% url 'post_delete' post.pk %}">+ Удалить пост</a>

  <hr>
  <h3>Комментарии:</h3>
  <ul>
    {% for comment in post.comment_set.all %}
      <li>{{ comment.text }}</li>
    {% empty %}
      <li>Нет комментариев</li>
    {% endfor %}
  </ul>
  <form method="post" action="{% url 'post_detail' post.pk %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Отправить комментарий</button>
  </form>
{% endblock content %}


